.displayWeather .mainCard {
    border-radius: 20px;
    background: rgb(245, 242, 242);
    border: 1px solid black;
    align-self: center;
    margin: 15px;
    background: rgba(66, 145, 219, 0.8);
    padding: 20px;
    position: relative;
}

.mainCard .cardSubtitle {
    margin-top: -8px;
    
}

.mainCard h1 {
    font-size: 5rem;
    margin-top: -20px;
    display: inline-block;
}

.mainCard .weather-main {
    font-size: 1.2rem;
    font-weight: 500;

    margin-left: 10px;
    position: absolute;
    margin-top: 40px;
}

.mainCard .weather-icon {
    position: absolute;
}

.mainCard .weather-description {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.weatherDetails {
    display: flex;
    justify-content: space-between; 
    margin-left: 15px;
  }
  
  .column {
    padding: 10px; /* Add padding to columns for spacing */
    flex: 1;
  }

.column:nth-child(1),
.column:nth-child(2) {
  margin-right: 10px; /* Add margin to separate the first two columns */
}

.column:nth-child(3),
.column:nth-child(4) {
  margin-right: 20px; /* Add more margin to separate the last two columns */
}
  
  .weatherDetails h4 {
    /* Each value on a new line within each column */
    display: block;
    border-bottom: 2px solid black;
  }
 .weatherDetails span {
    /* Each value on a new line within each column */
    display: block;
    margin-top: 21px;
    text-align: left;
  }
  